:root {
  /* TYPOGRAPHY */
  --primary-font: 'Open Sans', sans-serif;

  /* body */
  --off-white: #eeeeee;

  /* nav / wrap / hero txt */
  --white: #ffffff;

  /* nav items + hover  */
  --lightgrey1: #999999;
  --lightgrey2: #cccccc;

  /* h1 */
  --red: #ff0000;
  /* h2 */
  --green: #00ff00;
  /* h3 */
  --yellow: #ffff00;
  /* h4 */
  --blue: #0000ff;

  /* buttons */
  --text-color-white: rgb(255, 255, 255);
  /* --text-color-white-hover: rgba(255, 255, 255, 0.8); */

  /* footer background / form background*/
  --darkgrey1: #666666;
  /* --darkgrey2: #5f5f5f; */
  --transparent: rgba(255, 255, 255, 0);
}

/* buttons */
/* --red-light: #e54b4b; */
/* --green-light: #66cc66; */

/* TYPOGRAPHY */
/* --secondary-font: 'Cookie', cursive; */
